.table-container{
  
    // margin-top: 26px;
    // margin-left: 127px;
    // margin-right: 650px; 
}

table{
    height: auto;
    width: auto;   
}
.table{

    margin-bottom: 250px;
}

#addMovie{
    margin-top: 0px;
    margin-left: 325px;
   
}

.movie {
 margin-left: 150px;

}

.getMovies{
    display: flex;
    flex-direction: row;
}