.updateMovie {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 500px;

}

input,button {
  margin-right: 20px;
}

label {
  font-size: large;
  font-weight: 50px;
}

input {
  height: 20px;
}