.app-container{
    height: max-content;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: #e6bc30;
    position: fit-content;
    height:600px;
    width: auto;
   
}
button{
    border-radius: 25px;
    background-color: #9393d9;
    // margin-bottom: 500px;
}